@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

*{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
p{
  font-size: 16px;
  color: #627382;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700; /* 700 is the standard value for bold */
}
#workflow{
  color: white;
}
.text-white{
  color:white
}